<ul class="tree">
  @for (node of nodes; track node.id) {
  <li style="display: flex">
    <app-tree-node
      [node]="node"
      [expanded]="isExpanded(node)"
      (nodeClick)="onNodeClick($event)"
    >
    </app-tree-node>
    <span>({{ childrenCount(node) }})</span>

    @if (canExpandAll && isExpanded(node)) {
    <button (click)="toggleExpand(node)">
      <img src="/assets/images/arrow_up_list.svg" alt="" />
    </button>
    } @if (canExpandAll && !isExpanded(node) && canNodeExpand(node)) {
    <button (click)="expandAll(node)">
      <img src="/assets/images/arrow_down_list.svg" alt="" />
    </button>
    }
  </li>
  @if (isExpanded(node)) {
  <app-tree
    [nodes]="node.children"
    (nodeClick)="onNodeClick($event)"
    [canExpand]="true"
    [canExpandAll]="false"
    [expandedMapState]="getExpandedMap()"
  ></app-tree>
  } }
</ul>
